.jumbotron {
  padding-top: 6rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #d9f9fd;
}

#projetcts {
  background-color: #d9f9fd;
}
section {
  padding-top: 5rem;
}
